a {
	color: #000000;
	text-decoration: none;
}
a:hover {
	color: #ff0000;
	text-decoration: underline;
}
.ps {
	margin-left: 10px;
	display: none;
}
.open {
	cursor: pointer;
	background: url(../images/open.gif) no-repeat;
	line-height: 20px;
	padding-left: 20px;
	height: 20px;
}
.dot {
	cursor: pointer;
	background: url(../images/dot.gif) no-repeat;
	line-height: 20px;
	padding-left: 20px;
	height: 20px;
}
.content {
	padding: 8px 0;
}